<app-header></app-header>
<div class="min-h-screen">
    <div class="container">
        <div class="row register-bg p-5">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <div class="border rounded p-5 ">
                <h3 class="text-black text-center">Login</h3>
                <p class="text-center">More than thousand recipes from around the world</p>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div>
                        <div class="mb-3">
                            
                            <input name="email" formControlName="email" placeholder="email address" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        @if (loginForm.get("email")?.errors &&
                         loginForm.get("email")?.touched){
                             <div class="mb-3 text-danger fw-bolder">*Invalid email</div>
                        }
                        <div class="mb-3">
                           
                            <input  name="password" formControlName="password" placeholder="password" type="password" class="form-control" id="exampleInputpassword1" aria-describedby="emailHelp">
                        </div>
                        @if (loginForm.get("password")?.errors && loginForm.get("password")?.touched){
                             <div class="mb-3 text-danger fw-bolder">*Invalid password</div>
                        }
                        <div>
                            <button class="btn btn-success w-100">Login</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
            <div class="col-md-4"></div>
           
        </div>
    </div>
    <app-footer>
    </app-footer>
</div>