<div class="container  ">
      <div class="row p-5 align-items-center register-bg">
        <div class="col-md-5 text-center">
            <div class="border rounded bg-white p-5 w-75">
                <h3 class="text-black text-center">Register</h3>
                
                <form [formGroup]="registerForms" (ngSubmit)="register()">
                    <div class="w-100">
                        <div class="mb-3">
                        
                            <input name="username" formControlName="username" placeholder="username" type="text" class="form-control w-100" id="username" aria-describedby="emailHelp">
                        </div>
                        @if (registerForms.get("username")?.errors && registerForms.get("username")?.touched){
                             <div class="mb-3 text-danger fw-bolder">*Invalid Username</div>
                        }
                       

                        <div class="mb-3">
                          
                            <input name="email" formControlName="email"  placeholder="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
                        </div>
                        @if (registerForms.get("email")?.errors && registerForms.get("email")?.touched){
                             <div class="mb-3 text-danger fw-bolder">*Invalid email</div>
                        }
                        <div class="mb-3">
                            
                            <input name="password" formControlName="password"  placeholder="password" type="text" class="form-control" id="password" aria-describedby="emailHelp">
                        </div>
                        @if (registerForms.get("password")?.errors && registerForms.get("password")?.touched){
                             <div class="mb-3 text-danger fw-bolder">*Invalid password</div>
                        }
                        <div>
                            <button type="submit" class="btn btn-success w-100">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3>Create new account</h3>
            <p>what you will get here?</p>
            <ul>
                <li>Different Recipes</li>
                <li>Easy way to Make Recipe</li>
                <li>Save your Favorite Recipes</li>
                <li>Download your Recipes</li>
            </ul>
        </div>
    </div>
</div>


<app-footer>

</app-footer>
